@model DatabaseTW.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AmountMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedEscrow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedEscrow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CloseToZipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseToZipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyDomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyDomain)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
