@model IEnumerable<DatabaseTW.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
@if(ViewBag.myRequests)
{ 
    @Html.ActionLink("View all Requests", "Index")
}
else
{
    @Html.ActionLink("View My Requests", "MyRequests")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedEscrow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountMax)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Currency)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedEscrow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>

        @if (ViewBag.currentUser == item.UserId){
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RequestID }) |
                @Html.ActionLink("Details", "Details", new { id=item.RequestID }) |
                @Html.ActionLink("Close", "Close", new { id = item.RequestID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RequestID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.RequestID }) |
            </td>
        }
    
    </tr>
}

</table>
